<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Graphics Design and Web Developement</title>
    
  </head>
  <body>
      <!--Image-->
    <div>
        <img src="assets/media/about/about.jpg" class="img-fluid im" alt="image">
    </div>

    <!--information1-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-sm-12">
                <p id="he1">Services</p>
                <p class="he2">All challenges accepted.</p>
                <p class="he3">___</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 col-sm-6 col-md-6 in1">
                <img src="assets/media/about/web2.png" align="center" width="100" height="100" class="rounded mx-auto d-block icn" alt="icon">
                <h4>WEB & INTERACTIVE DESIGN</h4>
                <ul class="list1">
                    <li>All Type of Website</li>
                    <li>Simple and Professional Web Design</li>
                    <li>Search Engine Optimization</li>
                    <li>Web Compatibility</li>
                    <li>Well Formatted Content</li> 
                    <li>Fast Load Times</li>
                    <li>Browser Consistency</li>
                    <li>Effective Navigation</li>
                    <li>Good Error Handling</li>
                    <li>Multi-language Integration</li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 col-sm-6 col-md-6 in2">
                <img src="assets/media/about/grap.jpg" width="100" height="100" class="rounded mx-auto d-block icn" alt="icon">
                <h4>GRAPHICS DESIGN</h4>
                <ul class="list2">
                    <li>Poster</li>
                    <li>Logo</li>
                    <li>Menu</li>
                    <li>Visiting Card</li> 
                    <li>Ad-video</li>
                    <li>Presentation</li>
                    <li>Banner</li>
                    <li>Flyer</li>
                    <li>Invitation Card</li>
                </ul>
            </div>
        </div>
    </div>

    <!--Information2-->
    <div class="clear"></div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
  </body>
</html>
