<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">
    <title>Graphics Design and Web Developement</title>

  </head>
  <body>

    <!--Image-->
    <div>
      <img src="assets/media/portfolio/bannerP.png" class="img-fluid im"  alt="image">
    </div>

    <!--Poster-->
    <section class="col-12 text-center pohd">POSTER DESIGN</section>
    <section class="container">
        <div class="row">
            <div class="col-4">
                <div>
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/media/portfolio/p1.png" class="d-block w-100" height="290" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/media/portfolio/p12.png" class="d-block w-100" height="290" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/media/portfolio/p13.png" class="d-block w-100" height="290" alt="image">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div>
                    <div id="carouselExampleFade" class="carousel slide carousel-fade padd" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/media/portfolio/p2.png" class="d-block w-100" height="290" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/media/portfolio/p21.png" class="d-block w-100" height="290" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/media/portfolio/p22.png" class="d-block w-100" height="290" alt="image">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/media/portfolio/p3.png" class="d-block w-100" height="590" alt="image">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/media/portfolio/p31.png" class="d-block w-100" height="590" alt="image">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-4">
                <div>
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/media/portfolio/p4.png" class="d-block w-100" height="290" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/media/portfolio/p42.png" class="d-block w-100" height="290" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/media/portfolio/p43.png" class="d-block w-100" height="290" alt="image">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div>
                    <div id="carouselExampleFade" class="carousel slide carousel-fade padd" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/media/portfolio/p51.png" class="d-block w-100" height="290" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/media/portfolio/p5.png" class="d-block w-100" height="290" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/media/portfolio/p52.png" class="d-block w-100" height="290" alt="image">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <!--Ad-video-->
    <section class="col-12 text-center pohd">AD-VIDEO</section>
    <section class="container">
        <div class="row">
        <div class="col-6 ad">
            <video controls width="100%" height="300" autoplay loop  poster="media/portfolio/pv1.png">
            <source src="assets/media/portfolio/v3.mp4" type="video/mp4"/>
            Video tag not supported
        </video>
        </div>
        <div class="col-6 ad">
            <video controls width="100%" height="300" autoplay loop  poster="media/portfolio/pv2.png">
            <source src="assets/media/portfolio/v2.mp4" type="video/mp4"/>
            Video tag not supported
        </video>
        </div>
        </div>
    </section>

    <!-- <section class="col-12 text-center pohd">Web Design</section>
        <section class="container">

        </section>
     -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    
  </body>
</html>