        /*Home Page*/
        *{
            margin: 0;
            padding: 0;
        }
        body{
            font-family: sans-serif;
        }
        .navigation-wrap{
            position: fixed;
            width: 100%;
            left: 0;
            z-index: 1000;
            -webkit-transition:all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        .navigation-wrap.scroll-on{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: white;
            box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0);
            transition: all .15s ease-in-out 0s;

        }
        .navigation-wrap .navitem{
            padding: 0 0.625rem;
            transition: all 200ms linear;
        }
        .navbar-toggler:focus{
            outline: unset;
            border: unset;
            box-shadow: none;
        }
        .lin{
            font-size: 0.9375rem;
            text-align: center;
            color: rgb(6, 47, 53);
            letter-spacing: 1px;
        }
        .lin:hover{
            background-color: rgb(223, 139, 223);
            color:white;
        }
        .counter-section{
            background-color: rgb(223, 139, 223);
            padding-top: 1%;
            padding-bottom: 0.3%;
            height: 10%;
        }
        .pa{
            
            text-transform: uppercase;
            font-weight: bold;
            font-size: larger;
            text-align: center;
            color: rgb(7, 59, 59);
        }
        .foot{
          background-color: rgb(3, 28, 32);
          width: 1263px;
          height: 200px;
          margin-top: 20px;
          margin-left: -86px;
        }
        .add1{
          color: rgb(6, 77, 77);
          margin-top: 35px;
          margin-left: 40px;
        }
        .add2{
          color: rgb(6, 77, 77);
          margin-top: 75px;
        }
        .iccn{
          color: rgb(6, 77, 77);
          margin-top: 35px;
          margin-left: -40px;
        }
        .ic1{
          color:rgb(6, 77, 77) ;
        }
        .ic1:hover{
          color: violet;
        }
        .ic{
          color: grey;
        }
        .ic:hover{
          color: blueviolet;
        }
        .copy{
          background-color: rgb(1, 19, 22);
          color: rgb(2, 42, 49);
          margin-top: 45px;
        }

        /*image*/
        .im{
          width: 100%;
          height: 600px;
        }
        /*Poster*/
        .pohd{
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 50px;
          color: #E67D94;
          font-weight: bold;
          font-family: 'Grenze Gotisch', cursive;
        }
        .padd{
          margin-top: 10px;
        }
        /*ad-video*/
        .ad{
          border-color:rgb(4, 51, 59) ;
          border-width: 3px;
          border-style: solid;
        }