@import"~../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* login.component.html{
    background-color: blueviolet;
}
logreg.component.html{
    background-color: brown;
} */

html{
    background-color: rgb(5, 94, 119);
}



