<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">

    <title>Graphics Design and Web Developement</title>

  </head>
  <body>
    

    <!--Image-->
    <div  class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner" >
          <div class="carousel-item active " id="carouselExampleFade">
            <img src="assets/media/home/bannerH.png" class="d-block img-fluid im" alt="image">
          </div>
          <div class="carousel-item " id="carouselExampleFade1">
            <img src="assets/media/home/1 (1).png" class="d-block img-fluid im" alt="image">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>


      <!--Counter-->
      
      <section id="counter">
          <section class="counter-section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-3 col-3 col-sm-3 mb-lg-0 mb-md-0 my-auto">
                        <h2>
                            <span id="count1"></span>1680+
                        </h2>
                        <p class="pa">POSTER</p>
                    </div>
                    <div class="col-md-3 col-3 col-sm-3 mb-lg-0 mb-md-0 my-auto">
                        <h2>
                            <span id="count2"></span>1130+
                        </h2>
                        <p class="pa">LOGO</p>
                    </div>
                    <div class="col-md-3 col-3 col-sm-3 mb-lg-0 mb-md-0 my-auto">
                        <h2>
                            <span id="count3"></span>750+
                        </h2>
                        <p class="pa">AD-VIDEO</p>
                    </div>
                    <div class="col-md-3 col-3 col-sm-3 mb-lg-0 mb-md-0 my-auto">
                        <h2>
                            <span id="count4"></span>500+
                        </h2>
                        <p class="pa">WEBSITE</p>
                    </div>
                </div>
            </div>
          </section>
      </section>

      <!--Information-->
      <div class="container px-4">
        <div class="row gx-5">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
           <div class="p-3 border bg-light">
             <h2><b>WEB DESIGN</b></h2>
             <p class="p2">Web design is what creates the overall look and feel when you’re using a website. It’s the process of planning and building the elements of your website, from structure and layout to images, colors, fonts and graphics.</p>
          </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <div class="p-3 border bg-light">
              <h2><b>GRAPHICS DESIGN</b></h2>
              <p class="p2">Graphic design uses visual compositions to solve problems and communicate ideas through typography, imagery, color and form. There’s no one way to do that, and that’s why there are several types of graphic design, each with their own area of specialization.</p>
            </div>
          </div>
        </div>
      </div>

    <div class="clear"></div>


   
  </body>
</html>